<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>

            <div class="about-content">
                <h2>About us</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit itaque cumque perspiciatis consequatur
                    ut
                    sed
                    suscipit laudantium sapiente aspernatur molestiae voluptates, libero soluta facilis vero, porro
                    totam
                    dicta
                    voluptatum sunt quos maiores animi dolorem debitis ea? Non perspiciatis laboriosam alias dolore
                    rerum
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit itaque cumque perspiciatis consequatur
                    ut
                    sed
                    suscipit laudantium sapiente aspernatur molestiae voluptates, libero soluta facilis vero, porro
                    totam
                    dicta
                    voluptatum sunt quos maiores animi dolorem debitis ea? Non perspiciatis laboriosam alias dolore
                    rerum
                </p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit itaque cumque perspiciatis consequatur
                    ut
                    sed
                    suscipit laudantium sapiente aspernatur molestiae voluptates, libero soluta facilis vero, porro
                    totam
                    dicta
                    voluptatum sunt quos maiores animi dolorem debitis ea? Non perspiciatis laboriosam alias dolore
                    rerum
                </p>
            </div>
            <%- include('./partials/footer.ejs') %>
    </body>

</html>