@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");
body {
	max-width: 1200px;
	margin: 20px auto;
	padding: 0 20px;
	font-family: "Noto Serif", serif;
	max-width: 1200px;
}
p,
h1,
h2,
h3,
a,
ul {
	margin: 0;
	padding: 0;
	text-decoration: none;
	color: #222;
}
/* nav & footer styles */
nav {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}
nav ul {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
nav li {
	list-style-type: none;
	margin-left: 20px;
}
nav h1 {
	font-size: 3em;
}
nav p,
nav a {
	color: #777;
	font-weight: 300;
}

.highlight {
	font-size: large;
}

footer {
	color: #777;
	text-align: center;
	margin: 80px auto 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}
h2 {
	margin-bottom: 40px;
}
h3 {
	text-transform: capitalize;
	margin-bottom: 8px;
}
.content {
	margin-left: 20px;
}
/* index styles */

.blogs a {
	display: block;
	margin: 30px 0;
	background-image: linear-gradient(rgb(152, 192, 245), rgb(152, 192, 245));
	border-radius: 10px;
	background-repeat: no-repeat;
	padding: 30px 20px;
	background-size: 6px 100%;
	background-position: 0 0;
	transition: background-size 0.3s transform 0.2s;
}
.blogs a:hover {
	background-size: 100% 100%;
	/* background-position: 100% 0; */
	transition: background-size 0.5s 0.2s, background-position 0.2s, transform 0.2s;
	transform: scale(1.05);
	color: white;
}

/* details styles */
.details {
	position: relative;
	background-color: rgb(152, 192, 245);
	padding: 20px 20px;
	border-radius: 10px;
}
.delete {
	margin-top: 20px;
	margin-right: 20px;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 10px;
	padding: 8px;
}
.delete:hover {
	cursor: pointer;
	box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	background-color: red;
	color: white;
}

/* create styles */
.create-blog form {
	max-width: 400px;
	margin: 0 auto;
	position: relative;
}
.create-blog input,
.create-blog textarea {
	display: block;
	width: 100%;
	margin: 10px 0;
	padding: 8px;
}
.create-blog label {
	display: block;
	margin-top: 24px;
}
textarea {
	height: 120px;
}
.create-blog button {
	margin-top: 20px;
	background: rgb(29, 167, 19);
	color: white;
	border-radius: 10px;
	padding: 6px;
	border: 0;
	width: 105%;
	position: absolute;
	font-size: 1.2em;
	cursor: pointer;
}

.exists {
	color: red;
	text-align: center;
	padding: 20px;
}
